<mz-navbar>
  <a href="#" class="brand-logo">💩</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a href="#">Sass</a></mz-navbar-item>
    <mz-navbar-item><a href="#">Components</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="js">JavaScript</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<div class="carousel carousel-slider">
  <a class="carousel-item" href="#one!"><img src="assets/carousel/1.jpg" /></a>
  <a class="carousel-item" href="#two!"><img src="assets/carousel/2.jpg" /></a>
</div>
