<div class="container">
  <div class="row">
    <div class="section">
      <h3 class="header">Co to jest Web?</h3>
      <p class="justify">
        Web jest powszechnie używanym skrótem dla ogólnoświatowej sieci World Wide Web (WWW). Podstawą technologii Web jest protokół HTTP służący do przesyłania dokumentów hipertekstowych. Historia tworzenia stron internetowych wiąże się z upublicznieniem pierwszej specyfikacji języka HTML w roku 1991, której twórcą był Tim Berners-Lee.
        Ustanawianiem standardów technologii Web zajmuje się <a href="https://www.w3.org">konsorcjum W3C</a>.
      </p>
    </div>
  </div>
</div>
<mz-parallax [height]="500">
  <img src="assets/responsive.png">
</mz-parallax>
<div class="container">
  <div class="row justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque tortor imperdiet ex efficitur pharetra. Proin ac condimentum nisi, et blandit augue. Proin vitae fringilla urna. Pellentesque euismod consectetur neque vitae gravida. Etiam at arcu justo. Ut ullamcorper sodales ultrices. Praesent ultrices magna et erat posuere, quis aliquet metus scelerisque. Cras fermentum placerat justo vitae rhoncus. Nullam nec augue faucibus, tristique orci at, faucibus mauris. Sed efficitur lobortis bibendum. Nam molestie sit amet mauris vel varius. Nulla condimentum leo massa, in rhoncus tortor feugiat ac. In sed enim elit. Nunc rhoncus enim vitae dictum semper.
    Aenean laoreet enim non tincidunt ullamcorper. Nunc id mauris tortor. Morbi fringilla egestas enim, a volutpat sem egestas vitae. Cras nibh diam, sagittis sit amet turpis vitae, vestibulum porttitor nibh. Etiam viverra faucibus justo, eu tincidunt diam volutpat vel. Curabitur a suscipit lectus. Nulla vitae ipsum sem. Nunc luctus, nunc vel aliquet mollis, magna ipsum dictum lorem, nec viverra nisi risus a odio. Proin non convallis lorem. Nulla egestas leo quis nibh commodo volutpat. Praesent sollicitudin, urna efficitur faucibus maximus, ante ex blandit metus, ac semper massa nisl eget eros. Aenean magna ligula, imperdiet vel nulla eu, tristique varius odio. Suspendisse nec arcu justo. Ut a nisl dignissim, efficitur leo sit amet, elementum massa. Maecenas arcu ex, placerat in molestie quis, aliquam in metus. Mauris eget purus sit amet metus semper ultricies quis non leo.
    In hac habitasse platea dictumst. Donec fermentum cursus suscipit. Mauris ullamcorper lobortis sollicitudin. Fusce egestas lorem sem. Nulla ornare, libero id tincidunt elementum, orci mi finibus elit, a porttitor justo metus gravida magna. Phasellus quis commodo ex. In nec tellus condimentum, mollis massa et, posuere ipsum. Ut et erat id eros elementum semper. Nulla viverra arcu vitae erat semper dictum. Nulla pulvinar justo ac mollis pulvinar. In a odio et odio mattis dignissim. In hac habitasse platea dictumst. Ut consequat massa et justo vulputate, ac rhoncus lorem pharetra. In lobortis mauris et quam condimentum blandit.
    Donec nisl nulla, blandit nec justo non, elementum dapibus ligula. Praesent lobortis risus vel fermentum scelerisque. Maecenas sit amet tortor euismod ligula rutrum rutrum sit amet sed quam. Nulla a iaculis mi, in sagittis ex. Proin vitae consectetur mi. Aenean faucibus quam tristique nulla maximus, sed auctor nulla laoreet. Nullam venenatis congue libero non congue. Praesent ut purus vitae lorem consectetur tristique. Curabitur orci ipsum, faucibus ut arcu et, viverra ornare metus. Nam ultricies luctus feugiat. Nunc finibus efficitur lectus, id faucibus enim maximus at. Aenean volutpat accumsan nulla, id rhoncus augue ornare quis. Cras lacinia est sed mattis fermentum. Integer mollis lorem non nisl vulputate ultricies.
    Morbi cursus velit id commodo auctor. Suspendisse pretium nisl in vulputate viverra. Quisque vitae sodales lacus. Sed interdum placerat purus at facilisis. Praesent egestas gravida tellus a varius. Suspendisse potenti. Ut condimentum, turpis vel rutrum porttitor, metus erat consequat nunc, vitae lacinia diam lorem at libero. In consectetur convallis leo, sit amet ullamcorper metus congue sit amet.
  </div>
</div>


